
<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
  </head>

  <body>
    <h1><span style="padding-left:210px;">Contact Us</h1>
    <p ><span style="padding-left:57px;">Complete the form below</p>
    <div class = "container">
      <%= form_tag contact_path, method: 'post' do %>
      <%= label_tag :name, "name" %>
      <%= text_field_tag :name, '' , size: 50 %>
      </br></br>
      <%= label_tag :email, "Email" %>
      <%= email_field_tag :email, '' %>
      </br></br>
      <%= label_tag :telephone, "telephone" %>
      <%= telephone_field_tag :telephone, '' %>
      </br></br>
      <%= label_tag :message, "message" %>
      <%= text_field_tag :message, '', size: 60%>
      </br></br>
      <%= submit_tag "submit" %>
      <%end%>
    </div>





  </body>
</html>
