<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
  </head>

  <body>
    <h1>Listing book</h1>

    <%= link_to "Add new book", new_book_path%>
    <table>

      <tr>
        <th>Name of book</th>
        <th>Author</th>
        <th>Description</th>
      </tr>

      <% @allBooks.each do |book|%>
        <tr>

          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.description %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Show', book_path(book) %></td>
          <td><%= link_to 'Delete', book_path(book), method: :delete, data: {Confirm: "Are you sure?"} %></td>
        </tr>

      <% end %>

    </table>
  </body>
</html>
